@media(max-width: 320px){
    .text-equipe p{
        font-size: 12pt !important;
    }
    #middle-text{
        bottom: 10% !important;
    }
    .fazem h3{
        font-size: 1.6rem;
    }
    .carousel-item h1{
        font-size: 28pt !important;
        top: 45% !important;
    }
}
@media(max-width: 375px){
    .text-equipe p{
        font-size: 13pt;
    }
    .news-send{
        padding-left: 0;
        padding-right: 0;
        font-size: 11pt;
    }
    .nav-items .links{
        flex-wrap: wrap;
        text-align: center;
    }
    .nav-item{
        flex-basis: 50%;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media(max-width: 425px){
    #img-bg{
        height: 18vh !important;
    }
    #middle-text{
        margin-bottom: 0 8px !important;
    }
    /*section clientes*/
    .slider-clientes{
        height: 210px !important;
        background: #242424 !important;
        padding-top: 30px !important;
    }
    /*section equipe*/
    .section-equipe{
        margin-top: 8%;
    }
    .img-equipe img{
        display: none;
    }
    .text-equipe{
        background-image: url(sources/opaque-logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        height: 40vh;
        width: 95%;
        margin: auto;
    }
    #text-equipe-1{
        display: none;
    }
    .princ-text{
		font-weight: bold;
		font-size: 13.5pt;
    }
    .text-dados{
        margin: auto;
    }
    .label-float label {
        left: 2% !important;
    }
    .made, .social-footer{
        margin-top: 18px;
    }
}
@media(max-width: 768px){
    nav{
        top:0;
    }
    #navbarNavAltMarkup{
        margin: -5px -4%;
    }
    .nav-item{
        display: inline-block !important;
    }
    .links{
        display: flex;
        justify-content: space-evenly;
    }
    .navbar-brand{
        text-align: center;
        width: 100%;
    }
    .navbar-brand img{
        float: left;
    }
    .row-contact-home{
        flex-direction: column-reverse;
    }
    .contact-upper{
        margin-top: 18vh;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .fazem{
        padding-bottom: 23px !important;
    }

    .col-img-bg{
        margin-bottom: 8vh !important;
    }
    #img-bg{
        margin-top: 8vh !important;
    }
    #middle-text{
        bottom: 20%;
        left: 0;
        font-size: 19pt;
        padding: 0 20px;
    }

    /*section equipe*/
    .section-equipe{
        /*margin-top: 15%;*/
        margin-bottom: 8%;
    }
    .princ-text{
        font-size: 14.9pt;
    }
    /*Section duvidas*/
    .bi-chevron-down{
        float: right;
    }
    /*Section contact footer*/
    .section-contact-footer{
        margin-top: 16%;
        height: fit-content;
    }
    .title-contact-down{
        font-size: 2em;
        white-space: break-spaces;
        padding: 10px 10px 15px;
    }
    .contact-board{
        height: fit-content;
    }
    .row-title-board{
        background-color: #dcdcdc;
    }
    .title-board{
        font-size: 1.1em;
    }
    .whats-row .number{
        margin-top: 2%;
    }
    .dados .social-row{
        margin: 10% 0 5%;
    }
    .dados .social-row a{
        margin: 3.8%;
    }
    .separator{
        width: 100%;
        height: 0;
        border: 1px solid black;
        margin: 55px 0;
    }
    .form-div-down{
        margin-top: 26px;
    }
    .send-contact-down{
        margin-top: 6px;
    }
    .news-form{
        padding: 0;
    }
    .section-newsletter h5{
        font-size: .933rem;
    }
    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .social-footer{
        padding-left: 0;
    }
    .social-footer a{
        margin: 3%;
        padding-left: 0;
        padding-right: 0;
    }
    /*Página 404*/
    .error-main{
        padding-top: 23vh;
    }
}
@media(min-width: 769px){
    nav{
        height: 68px;
    }
    .nav-items{
        margin-left: 65px;
    }
    .nav-item{
        margin-left: 25px;
    }
    .social-item{
        margin-left: 2px;
        filter: brightness(0);
    }
    .social{
        margin-left: 12%;
    }
    .links{
        display: flex;
    }
    #navbarNavAltMarkup{
        justify-content: center;
    }

    /*Section contatc*/
    .contact-upper, .fazem{
        margin-left: 6%;
    }
    .fazem{
        border: 1px solid black;
    }
    .carousel-item{
        background-repeat: no-repeat;
    }
   
    #contact-upper, .contacts{
        padding-top: 2%;
    }

    #middle-text{
        bottom: 27%;
        left: 20%;
    }

    /*section clientes*/
    .slider-clientes{
        padding-top: 9.5vh;
    }
    /*section equipe*/
    .text-equipe{
        margin-left: -30px;
        margin-right: 20px;
    }
    .text-equipe p{
        font-size: 13.5pt;
    }
    /*Section duvidas*/
    .bi-chevron-down{
        float: left;
        margin-left: 20px;
    }
    #box{
        width: 22%;
    }
    /*Section contact footer*/
    .section-contact-footer{
        margin-top: 8%;
        height: 100vh;
    }
    .title-contact-down{
        padding-top: 2.5%;
    }
    .contact-board{
        height: 67vh;
    }
    .row-title-board{
        margin-top: .5%; 
        margin-bottom: -.5%;
    }
    .separator{
        width: 1px;
        height: 89%;
        border: 1px solid black;
        margin: auto;
    }
    footer{
        height: 7vh;
    }
    .error-main{
        padding-top: 15vh;
    }
}
@media(min-width: 768px) and (max-width: 991.98px){
    #middle-text{
        bottom: 25%;
        left: 7.5%;
    }
    .contact-upper button {
        margin-top: 6% !important;
    }
    .slider-clientes{
        padding-top: 10.5vh;
    }
    .text-equipe{
        height: 40vh;
        width: 95%;
        margin: auto;
    }
    .text-equipe p{
        margin-top: 10%;
        font-weight: bold;
        font-size: 13.5pt;
    }
    #text-equipe-1{
        display: none;
    }
    .duvidas-down{
        margin-top: 0 !important;
    }
    .section-contact-footer {
        margin-top: 8%;
    }
    .social-row div{
        margin-top: 0;
    }
}
@media(min-width: 991.99px) and (max-width: 1024px){
    #middle-text{
        bottom: 23%;
        left: 11%;
    }
    .nav-items{
        margin-left: 30px !important;
    }
    .contact-upper h3{
        font-size: 1.5rem ;
    }
    .contact-upper .contacts{
        padding:7% ;
    }
    .copy-footer{
        padding: 0;
    }
}
@media(min-width: 2000px){
    #middle-text {
        left: 35%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;*/
    --primary-color: #D62A2F;
    --secondary-color: #262626;
    --complementar-1: #931F1D;
    --complementar-2: #6D7275;
    --last-color: whitesmoke;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}

/*Setando scrollbar*/
body::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
body::-webkit-scrollbar {
    width: 9px;
    background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
    background: rgb(33, 33, 34);
    border-radius: 3px;
}
nav a h2{
    display: inline-block;
    line-height: 47px;
    margin-left: 12px;
}
nav{
    background: #dadada;
    box-shadow: -2px 1.5px 20px black;
    position: fixed !important;
    width: 100%;
    font-size: 13.5pt;
    z-index: 99;
}
.nav-item{
    color: black;
    font-weight: bold;
    transition: .2s;
}
.nav-item:hover{
    color: rgba(0, 0, 0,.8);
    transform: scale(1.05);
}
.nav-active{
    color: rgba(0,0,0,.9);
}

/*Sections*/
section{
    height: fit-content;
}

/*Section contact home*/
#container-contact-home{
    text-align: center;
}
.fazem{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px;
    height: 309px;
}
.contact-upper{
    padding: 8px;
    border: 1px solid black;
    height: 309px;
    background: var(--secondary-color);
}
.contact-upper input{
    color: white;
}
.contact-form input{
    border: 1px solid var(--complementar-2);
    border-radius: 3px;
    outline: none;
    padding: 7px;
    background: transparent;
    margin-top: 12px;
    text-align: center;
}
.contact-upper button{
    margin-top: 12%;
}
.contact-form button{
    height: 38px;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    transition: .3s linear;
    font-size: 13pt;
}
.contact-form button:hover{
    background: var(--secondary-color);
    border-color: var(--complementar-1);
    color: white;
    border-radius: 3px;
}
#response-contact-upper{
    margin-bottom: 0;
    filter: invert(1);
    font-size: 11pt;
    margin-top: 4px;
}
.carousel-item{
    width: 100%;
    height: 220px;
    color: var(--last-color);
    position: relative;
}
.carousel-item h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 38pt;
}
#img-1{
    background-image: url("sources/blurred-direito\ civil.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Middle text*/
.col-img-bg{
    margin-bottom: 15vh;
}
#img-bg{
    background: url('sources/direito_civil.jpg') no-repeat center;
    background-attachment: fixed;
    height: 25vh;
    width: 100%;
    margin-top: 15vh;
    position: relative;
}
#middle-text{
    text-align: center;
    z-index: 98;
    position: absolute;
    margin: auto;
    color: var(--last-color);
}

/*Section clientes*/
.section-clientes{
    text-align: center;
}
.slider-clientes{
    background: linear-gradient(to bottom, rgba(0,168,115,0) 0%, rgba(0,168,115,0) 3.99%, #242424 4%, #242424 74%, rgba(0,168,115,0) 74.01%, rgba(0,168,115,0) 100%);
    height: 55.5vh;
}

/*Slick plugin*/
.slick-arrow{
    display: none !important;
}

/*Section equipe (home)*/
.img-equipe img{
    width: 100%;
    height: 100%;
}
.text-equipe p{
    text-align: center;
}

/*Section duvidas*/
.duvidas-down{
    height: 50px;
    margin-top: 7%;
    padding-left: 29px;
    font-size: 13pt;
    border: 1px groove
}
.duvida-item{
    padding: 10px 15px;
    text-align: justify;
}
.duvida-item:nth-child(even){
    background: #EEE;
}
.handler-faqs{
    text-align: center;
}
.handler-faqs img{
    max-height: 200px;
}

/*Section contact footer*/
.section-contact-footer{
    width: 100%;
    background-color: var(--secondary-color);
    /*background-image: linear-gradient(to bottom, white, var(--secondary-color));*/   
}
.title-contact-down{
    color: white; 
    text-align: center; 
    margin-bottom: 0;
    width: 100%;
}
.title-board{
    text-align: center;
    margin-top: 8px;
    width: 100%;
}
.contact-board{
    width: 100%;
    background-color: white;
}
.dados{
    text-align: center;
    align-items: center;
}
.como-chegar:focus, .como-chegar:hover{
    color: var(--complementar-1);
    transform: scale(1.05);
}
.map-row{
    margin: auto;
}
.whats-row{
    margin-top: 10%;
}
.social-row{
    margin-top: 15px;
}
.dados .social-row a{
    filter: brightness(0);
}
.social-row a{
    margin: 2%;
}

/*Contact form*/
textarea{
    border: 1px solid var(--complementar-2);
    border-radius: 3px;
    outline: none;
    padding: 14px;
    background: transparent;
    margin-top: 12px;
}
.col-form-down{
    margin: auto;
    text-align: center;
}
.label-float {
    position: relative;
}
.label-float input, .label-float textarea{
    outline: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}
.label-float input:focus, textarea:focus {
    border: 2px solid var(--secondary-color);
}
.label-float input::placeholder, .label-float textarea::placeholder {
    color: transparent;
}
.label-float label {
    pointer-events: none;
    position: absolute;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    left: 13%;
}
.label-float .textarea-label{
    top: 14px;
}
.label-float .input-label{
    top: calc(50% - 11px);
}
.label-float input:required:invalid+label {
    color: var(--primary-color);
}
.label-float input:focus:required:invalid {
    border: 2px solid var(--primary-color);
}
.label-float input:required:invalid+label:before {
    content: '*';
}
.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label,
.label-float textarea:focus+label,
.label-float textarea:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    color: #3951b2;
}
#response-contact-down{
    margin-bottom: 0;
}

/*Section NewsLetter*/
.section-newsletter{
    height: 120px;
    text-align: center;
    margin-top: 3%;
}
.input-news{
    color: var(--primary-color);
    outline: none;
}
.label-news{
    display: none;
    transition: 2s linear;
    margin-left: 5px;
    font-size: 10pt;
    position: absolute;
    bottom: 35px;
}
.input-news:focus{
    border-top: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-right: none;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.input-news:focus+.div-button button{
    border-top: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: var(--secondary-color);
    color: white;
}
.input-news:focus+.div-button button:hover{
    background: var(--complementar-2);
}
.div-button button:hover{
    background: var(--secondary-color);
}

/*footer*/
footer{
    background: black;
    margin-top: 3%;
    text-align: center;
}
.made{
    color: #31373d;
}
.copy-footer{
    color: white;
    margin: auto;
}
.social-footer a{
    margin: 5%
}
.social-footer img{
    filter: invert(100%);
}

/*Modal Como chegar*/
.map-div{
    position: relative;
}
.map-div iframe{
    height: 350px;
    width: 100%;
}
#modal-close{
    background-color: var(--complementar-2);
    border: 1px solid var(--secondary-color);
}
#modal-success{
    background-color: var(--primary-color);
    border: 1px solid var(--complementar-1);
}

/*Página 404*/
.error-main{
    text-align: center;
}

.spinner-border{
    width: 1.5rem;
    height: 1.5rem;
}