<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fantin & Imhoff Advogados - 404</title>

        <meta name="robots" content="noindex, nofollow, nosnippet">

        <!--Ícones-->
        <link rel="apple-touch-icon" sizes="180x180" href="../sources/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../sources/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../sources/favicon/favicon-16x16.png">
        <link rel="manifest" href="../sources/favicon/site.webmanifest">
        <link rel="mask-icon" href="../sources/favicon/safari-pinned-tab.svg" color="#656565">
        <meta name="apple-mobile-web-app-title" content="Fantin &amp; Imhoff">
        <meta name="application-name" content="Fantin &amp; Imhoff">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <!--Fim dos ícones-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="./style-pages.css">

        <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="../controllers/topbar-funcs.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
    </head>
    <body>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;">
            <a href="../index.html" class="navbar-brand">
                <img src="../sources/Only logo transparante.png" width="52" height="52" class="d-inline-block align-top img-logo" alt="Bower">
                <h2 class="brand-name">Fantin & Imhoff</h2>
            </a>
            
            <div class="navbar-collapse nav-items" id="navbarNavAltMarkup">
                <div class="links">
                    <a class="nav-item nav-link nav-home order-1 order-sm-1" href="../index.html">Início</a>
                    <a class="nav-item nav-link nav-active nav-features order-4 order-sm-2" href="./contato.html">Contato <span class="sr-only">(atual)</span></a>
                    <a class="nav-item nav-link nav-pricing order-3 order-sm-3" href="./utile-links.html">Links Úteis</a>
                    <a class="nav-item nav-link nav-contact order-2 order-sm-4" href="./quem-somos.html">Nós</a>
                </div>
            </div>

            <div class="social nav-items navbar-collapse">
                <a class="nav-item nav-link social-item" id="facebook" href="https://www.facebook.com/fantineimhoffadvogados/"><img src="../sources/face-icon.png" width="25" height="25"  alt="Facebook"></a>
                <a class="nav-item nav-link social-item" id="instagram" href="https://www.instagram.com/fantineimhoffadvogados/"><img src="../sources/insta-icon.png" width="25" height="25" alt="Instagram"></a>
                <a class="nav-item nav-link social-item" id="telegram" href="#"><img src="../sources/telegram-icon-black.png" width="23" height="23" alt="Telegram"></a>
            </div>
        </nav>

        <main class="error-main container-fluid">
            <div class="row">
                <h1 class="col-12"><strong>Ops!</strong><br> Sinto muito, esta página não existe.</h1>
                <img class="col-12" src="../sources/error-404.svg" style="max-height: 400px;" alt="Erro 404">
            </div>
        </main>
        
    </body>
</html>