<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fantin & Imhoff Advogados - Quem Somos</title>

        <!--Preencher desc e key-->
        <meta name="description" content="No ramo advocatício a 44 anos, prezamos pela transparência e seriedade com um toque de mordernismo na prestação dos nossos serviços. Atuamos na área de direito civil, previenciário, imobiliário, trabalhista e do consumidor">
        <meta name="keywords" content="Direito, advogado, direito civil, direito do consumidor, direito imobiliário, direito trabalhista, direito previdenciario, fantin, imhoff, advogados alvorada, advogado do trabalho, quem somos, nossa historia">

        <!--Ícones-->
        <link rel="apple-touch-icon" sizes="180x180" href="../sources/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../sources/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../sources/favicon/favicon-16x16.png">
        <link rel="manifest" href="../sources/favicon/site.webmanifest">
        <link rel="mask-icon" href="../sources/favicon/safari-pinned-tab.svg" color="#656565">
        <meta name="apple-mobile-web-app-title" content="Fantin &amp; Imhoff">
        <meta name="application-name" content="Fantin &amp; Imhoff">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <!--Fim dos ícones-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="./style-pages.css">

        <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="../controllers/topbar-funcs.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
    </head>
    <body>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;">
            <a href="../index.html" class="navbar-brand">
                <img src="../sources/Only logo transparante.png" width="52" height="52" class="d-inline-block align-top img-logo" alt="Fantin e Imhoff">
                <h2 class="brand-name">Fantin & Imhoff</h2>
            </a>
            
            <div class="navbar-collapse nav-items" id="navbarNavAltMarkup">
                <div class="links">
                    <a class="nav-item nav-link nav-home order-1 order-sm-1" href="../index.html">Início</a>
                    <a class="nav-item nav-link nav-features order-4 order-sm-2" href="./contato.html">Contato</a>
                    <a class="nav-item nav-link nav-pricing order-3 order-sm-3" href="./utile-links.html">Links Úteis</a>
                    <a class="nav-item nav-link nav-active nav-contact order-2 order-sm-4" href="./quem-somos.html">Sobre Nós <span class="sr-only">(atual)</span></a>
                </div>
            </div>

            <div class="social nav-items navbar-collapse">
                <a class="nav-item nav-link social-item" id="facebook" href="https://www.facebook.com/fantineimhoffadvogados/"><img src="../sources/face-icon.png" width="25" height="25"  alt="Facebook"></a>
                <a class="nav-item nav-link social-item" id="instagram" href="https://www.instagram.com/fantineimhoffadvogados/"><img src="../sources/insta-icon.png" width="25" height="25" alt="Instagram"></a>
                <a class="nav-item nav-link social-item" id="telegram" href="https://t.me/fantineimhoffadvogados"><img src="../sources/telegram-icon-black.png" width="23" height="23" alt="Telegram"></a>
            </div>
        </nav>


        <section class="section section-quem-somos">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 parent-img-somos">
                        <img class="img-somos" src="../sources/equipe.jpg" alt="Equipe do escritório: Á esquerda Dr. Fantin e a direita Dr. Imhoff">
                    </div>
                
                    <div class="col-12 col-lg-6 parent-text-somos">
                        <h3 class="title-somos">Nossa história</h3>
                        <p class="text-somos">
                            O  escritório de advocacia foi fundado em 1976, pelo Dr. José Flávio Barbosa 
                            Silveira, motivado pelo gosto e o desejo de exercer a atividade de 
                            advocacia cível, em especial na área do direito imobiliário e de família.
                        </p>
                        <p class="text-somos">
                            Desde a sua fundação, até hoje, sempre funcionou no mesmo endereço, 
                            Av. Presidente Getúlio Vargas, 2.394, no município de Alvorada, RS.
                        </p>
                        <p class="text-somos">
                            No passar dos anos, novos advogados foram se associando ao escritório dando 
                            continuidade ao destacado trabalho realizado pelo seu fundador e ampliando 
                            a sua atuação passando a abranger também à prestação de serviço de advocacia 
                            na área do direito do trabalho, previdenciário e de defesa do consumidor.
                        </p>
                        <p class="text-somos">
                            O trabalho prestado pela equipe de advogados não é só reconhecido pelos 
                            clientes pessoa física, como também de boa parte dos comerciantes, industriais 
                            e associações, com as quais mantem duradouro relacionamento profissional, 
                            prestando-lhes serviço diferenciado de assessoria jurídica na área empresarial.
                        </p>
                        <p class="text-somos">
                            Assim, formamos um escritório de advocacia estruturado, constituído de base 
                            sólida de conhecimento e experiência capaz de prestar ao cliente, sempre, um 
                            serviço ágil e de qualidade, com profundo respeito à ética, a honestidade e 
                            a transparência.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid" style="height: 100%;">
                <div class="row align-items-center" style="height: 100%;">
                    <div class="col-12 col-sm-3 order-sm-1 order-3 made">
                        <p style="margin-bottom: 0;">Made with <span>
                            <img src="../sources/martelo.svg" height="20px" alt="">
                        </span> by <span style="margin-left: 2px;">
                            <a href="https://github.com/EduViva"><img src="../sources/github.svg" height="20px" alt=""></a>
                        </span></p>
                    </div>
                    <div class="col-12 col-sm-5 col-md-3 order-sm-2 order-1 copy-footer">
                        <p style="margin-bottom: 0;">Fantin & Imhoff Advogados © 2020</p>
                    </div>
                    <div class="col-12 col-sm-3 order-sm-3 order-2 social-footer">
                        <div class="row social-row" style="margin-top: 0;">
                            <div class="col-12" style="padding-left: 0; padding-right: 0;">
                                <a class="col-sm-4 col-md social-link" href="https://www.facebook.com/fantineimhoffadvogados/">
                                    <img src="../sources/face-icon.png" height="25px" alt="Facebook">
                                </a>
                                <a class="col-sm-4 col-md social-link" href="https://www.instagram.com/fantineimhoffadvogados">
                                    <img src="../sources/insta-icon.png" height="25px" alt="Instagram">
                                </a>
                                <a class="col-sm-4 col-md social-link" href="https://t.me/fantineimhoffadvogados">
                                    <img src="../sources/telegram-icon-black.png" height="23px" alt="Telegram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>