@media (min-width: 769px){
    .section-links-uteis,.section-contact-page{
        height: 93vh;
        padding-top: 15vh;
    }
    .section-quem-somos{
        padding-top: 15vh;
        padding-right: 25px;
    }
    .section-contact-page, .section-quem-somos{
        margin-bottom: 45px;
    }
    .div-utile-links{
        margin-top: 12vh;
    }
    .utile-links-col{
        margin: auto;
    }
    .trf4 img{
        padding-top: 9px;
    }
    .trt4 img{
        padding-top: 20px;
    }
    .trt4 .link-titles{
        margin-top: 11px;
    }
    .img-somos{
        margin-top: 25px;
    }
    .parent-text-somos{
        position: sticky;
        top: 0;
    }
    footer{
        margin-top: 0 !important;
    }
}
@media (max-width: 768px){
    .section-contact-page, .section-quem-somos{
        padding-top: 25vh;
    }
    .section-links-uteis{
        padding-top: 28vh;
    }
    .utile-links-col{
        margin: 25px auto;
    }
    .trt4{
        padding-bottom: 20px;
        padding-top: 20px;
        height: 200px;
    }
    #img2, #img3{
        display: none;
    }

}
@media(min-width: 768px) and (max-width: 1024px){
    .img-somos{
        width: 50% !important;
    }
}

.section-links-title{
    padding-left: 5vh ;
}
.div-utile-links img{
    max-width: 200px;
}
.utile-links-col{
    text-align: center;
}
.contact-page-text{
    text-align: center;
    font-size: 14pt;
}
.parent-img-somos{
    text-align: center;
}
.img-somos{
    width: 80%;
    border-radius: 3px;
}
.parent-text-somos{
    margin-top: 25px;
    background-color: rgba(255,255,255,.5);
    border-radius: 3px;
    padding-top: 25px;
    height: fit-content;
}
.title-somos{
    text-align: center;
    margin-bottom: 25px;
}
.text-somos{
    text-align: justify;
}