@media (min-width: 769px){
    .section-links-uteis,.section-contact-page{
        height: 93vh;
        padding-top: 15vh;
    }
    .section-contact-page{
        margin-bottom: 45px;
    }
    .div-utile-links{
        margin-top: 12vh;
    }
    .utile-links-col{
        margin: auto;
    }
    .trf4 img{
        padding-top: 9px;
    }
    .trt4 img{
        padding-top: 20px;
    }
    .trt4 .link-titles{
        margin-top: 11px;
    }
    footer{
        margin-top: 0 !important;
    }
}
@media (max-width: 768px){
    .section-contact-page{
        padding-top: 25vh;
    }
    .section-links-uteis{
        padding-top: 28vh;
    }
    .utile-links-col{
        margin: 25px auto;
    }
    .trt4{
        padding-bottom: 20px;
        padding-top: 20px;
        height: 200px;
    }
}

.section-links-title{
    padding-left: 5vh ;
}
.div-utile-links img{
    max-width: 200px;
}
.utile-links-col{
    text-align: center;
}
.contact-page-text{
    text-align: center;
    font-size: 14pt;
}