<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Advogados</title>

        <!--Preencher desc e key-->
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!--Ícones-->
        <link rel="apple-touch-icon" sizes="180x180" href="../sources/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../sources/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../sources/favicon/favicon-16x16.png">
        <link rel="manifest" href="../sources/favicon/site.webmanifest">
        <link rel="mask-icon" href="../sources/favicon/safari-pinned-tab.svg" color="#656565">
        <meta name="apple-mobile-web-app-title" content="Fantin &amp; Imhoff">
        <meta name="application-name" content="Fantin &amp; Imhoff">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <!--Fim dos ícones-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="./style-links.css">

        <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="../controllers/topbar-funcs.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
    </head>
    <body>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;">
            <a href="#" class="navbar-brand">
                <img src="../sources/Only logo transparante.png" width="52" height="52" class="d-inline-block align-top img-logo" alt="Bower">
                <h2 class="brand-name">Fantin & Imhoff</h2>
            </a>
            
            <div class="navbar-collapse nav-items" id="navbarNavAltMarkup">
                <div class="links">
                    <a class="nav-item nav-link nav-home order-1 order-sm-1" href="javascript:void(0)">Início</a>
                    <a class="nav-item nav-link nav-features order-4 order-sm-2" href="javascript:void(0)">Contato</a>
                    <a class="nav-item nav-link nav-active nav-pricing order-3 order-sm-3" href="javascript:void(0)">Links Úteis <span class="sr-only">(atual)</span></a>
                    <a class="nav-item nav-link nav-contact order-2 order-sm-4" href="javascript:void(0)">Nós</a>
                </div>
            </div>

            <div class="social nav-items navbar-collapse">
                <a class="nav-item nav-link social-item" id="facebook" href="https://www.facebook.com/fantineimhoffadvogados/"><img src="../sources/face-icon.png" width="25" height="25"  alt="Facebook"></a>
                <a class="nav-item nav-link social-item" id="instagram" href="https://www.instagram.com/fantineimhoffadvogados/"><img src="../sources/insta-icon.png" width="25" height="25" alt="Instagram"></a>
                <a class="nav-item nav-link social-item" id="telegram" href="#"><img src="../sources/telegram-icon-black.png" width="23" height="23" alt="Telegram"></a>
            </div>
        </nav>


        <section class="section section-links-uteis" style="height: 100vh;">
            <h1>Links Úteis</h1>
            <p>Para te ajudar a encontrar o que precisa</p>

            <div class="div-utile-links">
                <a href="">
                    <img src="../sources/logo advocacia transparante.png" alt="">
                </a>
            </div>
        </section>


        <footer>
            <div class="container-fluid" style="height: 100%;">
                <div class="row align-items-center" style="height: 100%;">
                    <div class="col-12 col-sm-3 order-sm-1 order-3 made">
                        <p style="margin-bottom: 0;">Made with <span>
                            <img src="../sources/martelo.svg" height="20px" alt="">
                        </span> by <span style="margin-left: 2px;">
                            <a href="https://github.com/EduViva"><img src="../sources/github.svg" height="20px" alt=""></a>
                        </span></p>
                    </div>
                    <div class="col-12 col-sm-5 col-md-3 order-sm-2 order-1 copy-footer">
                        <p style="margin-bottom: 0;">Fantin & Imhoff Advogados © 2020</p>
                    </div>
                    <div class="col-12 col-sm-3 order-sm-3 order-2 social-footer">
                        <div class="row social-row" style="margin-top: 0;">
                            <div class="col-12" style="padding-left: 0; padding-right: 0;">
                                <a class="col-sm-4 col-md social-link" href="https://www.facebook.com/fantineimhoffadvogados/">
                                    <img src="../sources/face-icon.png" height="25px" alt="Facebook">
                                </a>
                                <a class="col-sm-4 col-md social-link" href="https://www.instagram.com/fantineimhoffadvogados">
                                    <img src="../sources/insta-icon.png" height="25px" alt="Instagram">
                                </a>
                                <a class="col-sm-4 col-md social-link" href="">
                                    <img src="../sources/telegram-icon-black.png" height="23px" alt="Telegram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>